<div class="item item-aside">
  <div *ngIf="boolConnected==false || boolConnected==null; else logged;">
    <h3>Sign in</h3>
    <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)">
        E-mail:<br><input type="text" name="email" formControlName="email"><br>
        Password:<br><input type="password" name="password" formControlName="password"><br>
        <button [disabled]="!formdata.valid" class="formsubmit" value="Login">OK</button><br>
    </form>
    <a routerLink="/register"><h4>Register</h4></a>
    <a routerLink="/register"><h4>Forgotten password?</h4></a> 
  </div>
  <ng-template #logged>
    <h3>Welcome {{pseudo}}!</h3>
    <div *ngIf="currentChallenge!='';">
      <h4>Current challenge: </h4><p>{{currentChallenge}}</p>
    </div>
  </ng-template>
  
</div>