<div class="container body-sub">
  <div class="container bandeautop1"></div>
  <div class="container bandeautop2"></div>
  <app-main-menu></app-main-menu>  
  
  <div class="container centre">

    
    <app-side-menu class="container menu_cote"></app-side-menu>
    
    <div class="container aside">
      <app-login></app-login>
    </div>
    <div class="container main">
        <router-outlet></router-outlet>
    </div>
  </div>
  <div class="container footer">
      <p>Copyright test - Tous droits réservés</p>
  </div>
</div>