<a class="container block_cote" #one (click)="goToChallengeDayArticle(1)">Day 1</a>
<a class="container block_cote" #two (click)="goToChallengeDayArticle(2)">Day 2</a>
<a class="container block_cote" #three (click)="goToChallengeDayArticle(3)">Day 3</a>
<a class="container block_cote" #four (click)="goToChallengeDayArticle(4)">Day 4</a>
<a class="container block_cote" #five (click)="goToChallengeDayArticle(5)">Day 5</a>
<a class="container block_cote" #six (click)="goToChallengeDayArticle(6)">Day 6</a>
<a class="container block_cote" #seven (click)="goToChallengeDayArticle(7)">Day 7</a>
<a class="container block_cote" #eight (click)="goToChallengeDayArticle(8)">Day 8</a>
<a class="container block_cote" #nine (click)="goToChallengeDayArticle(9)">Day 9</a>
<a class="container block_cote" #ten (click)="goToChallengeDayArticle(10)">Day 10</a>