<div  class="container article">
  <h1>Choose a challenge :</h1>
  <p>Each of the proposed challenges have been created to follow your progression and to help you complete every steps until you master a new skill.
  <br><br>
  Try one of these challenges to put yourself to the test!
  <div class="container imageLinks">
    <div class="block imageLinks"><a routerLink="''"><h3>Sports</h3><img src="../../assets/images/sport.jpg"></a></div>
    <div class="block imageLinks"><a routerLink="''"><h3>Nutrition</h3><img src="../../assets/images/nutrition.jpg"></a></div>
    <div class="block imageLinks"><a routerLink="''"><h3>Self management</h3><img src="../../assets/images/management.jpg"></a></div>
    <div class="block imageLinks"><a routerLink="''"><h3>Computing skills</h3><img src="../../assets/images/computing.jpg"></a></div>
    <div class="block imageLinks"><a routerLink="''"><h3>Creative challenges</h3><img src="../../assets/images/arts.jpg"></a></div>
    <div class="block imageLinks"><a routerLink="''"><h3>Random RedKoala</h3><img src="../../assets/images/redkoala.jpg"></a></div>
  </div>
</div>