<div  class="container article">
    <h1>Log in to access content</h1>
    <p>Each of the proposed challenges have been created to follow your progression and to help you complete every steps until you master a new skill.
    <br /><br />
    Try one of these challenges to put yourself to the test !
    <br /><br />
    <h3>You must be connected to have access to all the challenges and functionalities.</h3>
    <br /><br />
    You can try the free challenge above to see if you are up to the task !
  </div>