.menu_haut
{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 50px;
    background-color: rgb(207, 52, 52);
    list-style: none;
	min-width: 500px;
}

.block_top
{	
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(207, 52, 52);
	transition: all linear 0.5s;
	width: 150px;
	height: 100%;
	font-family: customFontTitle, Tahoma, Geneva, sans-serif;
}

.block_top:hover
{
	background-color: rgb(147, 42, 42);
}


.block_top .top_deroulant
{
	background: #555554;
	display:none;
	position: absolute;
	top: 119px;
	width: 150px;
	height: 60px;
	font-weight: bold;
}

.block_top:hover .top_deroulant
{
    display:flex;
    flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.block_top .item_top
{
	display: flex;
	width:100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.block_top .item_top:hover
{
	background-color: rgb(147, 42, 42);
	width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.top_deroulant .item_top
{
	height: 50%;
}
.top_deroulant .item_top:hover
{
	background-color: #CCCCCC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}