<header class="container menu_haut">
    <div class="container block_top">
            
        <a class="item item_top" routerLink="challenges-component">Challenges</a>
    </div>

    <div class="container block_top">
        <a class="item item_top" routerLink="main-component">Languages</a>
        <div class="container top_deroulant">
            <a class="item item_top" routerLink="main-component">Reading / Writing</a>
            <a class="item item_top" routerLink="main-component">Listening / Speaking</a>
        </div>
    </div>

    <div class="container block_top">
        <a class="item item_top" routerLink="main-component">Programming</a>
        <div class="container top_deroulant">
            <a class="item item_top" routerLink="main-component">Basics</a>
            <a class="item item_top" routerLink="programming-project">Projects</a>
        </div>
    </div>

    <div class="container block_top">
        <a class="item item_top" routerLink="main-component">Life goals</a>
        <div class="container top_deroulant">
            <a class="item item_top" routerLink="main-component">Nutrition</a>
            <a class="item item_top" routerLink="main-component">Self accomplishment</a>
        </div>
    </div>

    <div class="container block_top">
        <a class="item item_top" routerLink="whistle-challenge">Random stuff</a>
    </div>

</header> 